@import '../../../partials/variables';

.InputHolder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 60%;
    min-height: 60px;
    padding: 5px 5px;
    background: $input-color;

    .btnWrapper {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}