@import '../../partials/variables';
@import '../../partials/mixins';

.DetailedView {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .SectionHolder {
        display: flex;
        border: 10px solid #fff;
    }

    .GoogleMapsHolder {
        min-width: 300px;
        min-height: 200px;
        
    }

    .CenteredCard {
        padding: 20px;
        background: $card-mainColor;
        flex: 1;

        h3.FiveDaysHeading {
            font-size: 15px;
            color: $google-maps-info;
        }
    }

    .DisplayInfo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .DisplayInfoEntity {
            color: $google-maps-info;
            font-size: 14px;
        }

        .DisplayInfoResult {
            font-size: 20px;
        }

        .DisplayInfoResult.CityName {
            font-size: 30px;
            font-weight: bold;
        }

        .DisplayInfoResult.CountryName {
            color: #cf6767;
        }
    }

    

    .FiveDaysForecast {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px 0;

        .eachDayHolder {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;

            .eachDay {
                padding: 5px;
                margin: 2px 2px;
                border: 2px solid $google-maps-info;
                border-radius: 10px;
                font-size: 16px;
                color: $google-maps-info;
            }
        }
    }
}


@include mobile {

    .DetailedView {
        .GoogleMapsHolder {
            height: 250px;
        }
        .SectionHolder {
            flex-direction: column;
        }
        .FiveDaysForecast {
            .eachDayHolder {
                .eachDay {
                    font-size: 12px;
                }
            }
        }
    }
    
}

@include tablet {
    .DetailedView {
        .GoogleMapsHolder {
            height: 250px;
        }
        .SectionHolder {
            flex-direction: column;
        }
    }
}

@include largeDisplay {
    .DetailedView {
    
        .SectionHolder {
            transform: scale(1.3);
        }
    }
}



