@import "./fonts";

//variables
$font-stack: 'Roboto', sans-serif;
$navbar-color: #646e7b;
$input-color: #838b95;
$input-btnColor: #9ba2aa;
$input-btnTextColor: #e3e3e4;
$main-sectionColor: #ebeff1;
$card-bgColor: #ffffff;
$card-mainColor: #4c5766;
$card-subColor: #a9afb5;
$google-maps-info: rgba(255, 255, 255, 1);