@import '../../../partials/variables';
@import '../../../partials/mixins';

.WeatherCard {
    height: 60px;
    width: 340px;
    border-radius: 3px;
    background: $card-bgColor;
    padding: 10px 5px;
    margin: 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    cursor: pointer;

    .leftInfo,
    .midInfo,
    .rightInfo {
        
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .leftInfo {
        padding-left: 20px;
        h4.cityName {
            color: $card-mainColor;
            margin: 0;
            font-size: 18px;
            width: 100%;
            
        }

        p.cityDate {
            color: $card-subColor;
            margin: 0;
            font-size: 12px;
            width: 100%;
            
        }
    }

    .midInfo {
        position: relative;

        .temperatureDegree,
        .temperatureMark {
            font-size: 14px;
            color: $card-subColor;
            position: absolute;
            top: 7px;
            right: 15px;
        }

        .temperatureDegree {
            top: 10px;
            right: 23px;
        }

        h4.cityTemp {
            color: $card-mainColor;
            margin: 0;
            line-height: 0.8;
            font-size: 34px;
        }

        p.cityWeatherInfo {
            color: $card-subColor;
            margin: 0;
            font-size: 10px;
        }
    }

    .rightInfo {

        p.cityHumidity {
            color: $card-subColor;
            margin: 0;
            font-size: 12px;
            display: flex;
            flex-direction: row;
        }

        p.cityWind {
            color: $card-subColor;
            margin: 0;
            font-size: 12px;
            display: flex;
            flex-direction: row;
        }
    }
}


@include mobile {
    .WeatherCard {
        height: 40px;
        width: 250px;

        .leftInfo {
            h4.cityName {
                font-size: 12px;
            }
    
            p.cityDate {
                font-size: 10px;
            }
        }

        .midInfo {
    
            .temperatureDegree,
            .temperatureMark {
                top: 0px;
                right: 10px;
            }
    
            .temperatureDegree {
                top: 0px;
                right: 18px;
            }
    
            h4.cityTemp {
                font-size: 21px;
            }
        }

        .rightInfo {

            p.cityHumidity {
                font-size: 10px;
            }
    
            p.cityWind {
                font-size: 10px;
            }
        }
    }

    
}